## Exercício 1: Vestibular

Considere que a os dados gerados na célula abaixo contêm o número de acertos de 100 alunos em um vestibular para um curso de exatas, divididas pelos respectivos assuntos. Considere que cada assunto possui um número de questões conforme a tabela abaixo:

| assunto | número de questões |
|:---:|:---:|
| Matemática | 24 |
| Português | 18 |
| Geografia | 8 |
| Inglês | 8 |
| História | 8 |
| Física | 12 |
| Química | 12 |

Usando os comandos de operações com DataFrames que você aprendeu na Aula 03, calcule:

1. (operações com escalar) Calcule o percentual de acerto dos alunos por assunto.  
2. (operações entre *DataFrames) Calcule o total de acertos de cada aluno.  
3. Calcule o porcentual geral de cada aluno.  
4. Suponha que a nota de corte para a segunda fase seja 45. Quantos alunos tiveram nota maior que 45?

In [1]:
import pandas as pd
import numpy as np

np.random.seed(42)

df_mat = pd.DataFrame(np.random.randint(24, size=(100, 1)), columns=['Qt_acertos'])
df_por = pd.DataFrame(np.random.randint(18, size=(100, 1)), columns=['Qt_acertos'])
df_geo = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos'])
df_ing = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos'])
df_his = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos'])
df_fis = pd.DataFrame(np.random.randint(12, size=(100, 1)), columns=['Qt_acertos'])
df_qui = pd.DataFrame(np.random.randint(12, size=(100, 1)), columns=['Qt_acertos'])

In [29]:
# 1) Seu código aqui

pc_mat = (df_mat / 24) * 100
pc_por = (df_por / 18) * 100
pc_geo = (df_geo /  8) * 100
pc_ing = (df_ing /  8) * 100
pc_his = (df_his /  8) * 100
pc_fis = (df_fis /  12) * 100
pc_qui = (df_qui /  12) * 100

In [35]:
# 2) Seu código aqui
total = df_mat + df_por + df_geo + df_ing + df_his + df_fis + df_qui
total

    Qt_acertos
0           35
1           48
2           50
3           32
4           30
..         ...
95          34
96          27
97          40
98          40
99          42

[100 rows x 1 columns]

In [39]:
# 3) Seu código aqui
(total/90) * 100

    Qt_acertos
0    38.888889
1    53.333333
2    55.555556
3    35.555556
4    33.333333
..         ...
95   37.777778
96   30.000000
97   44.444444
98   44.444444
99   46.666667

[100 rows x 1 columns]

In [47]:
# 4) Seu código aqui
total_gt_45 = total[total['Qt_acertos'] > 45]
total_gt_45.count()

total_ls_45 = total['Qt_acertos'].count() - total_gt_45.count()

print(f'Total de alunos que nao alcancaram a nota de corte: {total_ls_45}')
print(f'Total de alunos que alcancaram a nota de corte: {total_gt_45.count()}')

Total de alunos que nao alcancaram a nota de corte: Qt_acertos    69
dtype: int64
Total de alunos que alcancaram a nota de corte: Qt_acertos    31
dtype: int64

## 2) Vestibular II

Ainda sobre o mesmo banco de dados:

1. Neste vestibular, quem 'zera' em matemática, física ou química está desqualificado. Monte um novo *DataFrame* com os alunos desqualificados por este critério.
2. Quantos são esses alunos?
3. Qual a média desses alunos em história e geografia?
4. Monte um *DataFrame* com os alunos que passaram para a segunda fase. Repare que estes alunos não podem ter sido desqualificados.

In [52]:
# seu código aqui
df_eliminados = total[(df_mat['Qt_acertos'] == 0) | 
                      (df_fis['Qt_acertos'] == 0) | 
                      (df_qui['Qt_acertos'] == 0)]

df_eliminados

    Qt_acertos
3           32
6           29
10          31
12          42
14          31
20          53
25          27
26          40
27          50
33          39
35          48
49          19
56          39
65          24
66          31
72          50
73          37
74          39
84          26
89          63
92          40
94          25
98          40

In [54]:
print(f'Total de alunos desqualificados: {df_eliminados.count()}')

Total de alunos desqualificados: Qt_acertos    23
dtype: int64

In [64]:
(df_his.loc[df_eliminados.index] / 8 ) * 100

    Qt_acertos
3          0.0
6         62.5
10        12.5
12        12.5
14        12.5
20        75.0
25         0.0
26        87.5
27        87.5
33        75.0
35        37.5
49        12.5
56        75.0
65        37.5
66        37.5
72        87.5
73        37.5
74        62.5
84        12.5
89        75.0
92        12.5
94        12.5
98        62.5

In [66]:
(df_geo.loc[df_eliminados.index] / 8 ) * 100

    Qt_acertos
3         37.5
6         87.5
10        37.5
12        37.5
14        12.5
20        75.0
25        87.5
26        75.0
27        12.5
33         0.0
35        75.0
49        12.5
56        87.5
65        25.0
66        37.5
72        37.5
73        25.0
74         0.0
84         0.0
89        87.5
92        12.5
94        25.0
98        37.5

In [72]:
df_qualificados = total[~total.index.isin(df_eliminados.index)]
df_qualificados

    Qt_acertos
0           35
1           48
2           50
4           30
5           50
..         ...
93          56
95          34
96          27
97          40
99          42

[77 rows x 1 columns]

## 3) Vacinações no Acre
Vamos trabalhar agora com a base de vacinações no Acre. Para facilitar a sua vida, copiamos o link do arquivo na célula abaixo.

1. Quantas vacinas estão registradas nessa base?  
2. Quantos pacientes foram vacinados? (considere um paciente para cada valor único de ```paciente_id```)  
3. Quantos pacientes únicos tomaram a primeira dose? OBS: Há um caractere especial neste campo. Receba os valores do campo com o método ```.unique()```.   
4. Quantos pacientes com menos de 18 anos foram vacinados?  
5. Quantos estabelecimentos aplicaram vacina no Acre?


**OBS:** O portal do DATASUS pode apresentar instabilidades, retornando um erro na segunda célula abaixo. Por este motivo está disponível uma base estática, que se for baixada para o seu *working directory* pode ser lida com este comando: ```df = pd.read_csv('registros de vacinacao covid ACRE.csv', sep=';')```.

**OBS2:** Para saber qual é o seu working directory, rode no jupyter: ```!pwd```.

In [97]:
arquivo = 'https://s3.sa-east-1.amazonaws.com/ckan.saude.gov.br/SIPNI/COVID/uf/uf%3DRN/part-00000-36ec4510-23ec-48ba-9c18-bfe1a0226a85.c000.csv'

In [98]:
# 1) Sua solução aqui
df = pd.read_csv(arquivo, sep=';')

In [103]:
df.head()

,document_id,paciente_id,paciente_idade,paciente_dataNascimento,paciente_enumSexoBiologico,paciente_racaCor_codigo,paciente_racaCor_valor,paciente_endereco_coIbgeMunicipio,paciente_endereco_coPais,paciente_endereco_nmMunicipio,...,vacina_categoria_codigo,vacina_categoria_nome,vacina_lote,vacina_fabricante_nome,vacina_fabricante_referencia,vacina_dataAplicacao,vacina_descricao_dose,vacina_codigo,vacina_nome,sistema_origem
0,5fbcbb94-88f1-433b-be40-4925693d7829-i0b0,1a9fd64c4d72398976d42c5fbba9232e9a2c48ab7cd203...,38,1983-06-23,M,4,AMARELA,240810.0,10.0,NATAL,...,9.0,Trabalhadores de Saúde,219VCD286Z,ASTRAZENECA/FIOCRUZ,NaN,2022-01-28,2ª Dose,85,COVID-19 ASTRAZENECA/FIOCRUZ - COVISHIELD,RN + Vacina
1,4fb15ff7-4063-44b4-bc6a-4b01553d2dee-i0b0,f53d38f478b5a6ae7cb68bbd20887004d07b2024942ef6...,19,2003-09-14,F,3,PARDA,240360.0,10.0,EXTREMOZ,...,9.0,Trabalhadores de Saúde,PCA0079,PFIZER,NaN,2022-10-05,2º Reforço,87,COVID-19 PFIZER - COMIRNATY,NaN
2,5fc1bf2c-b807-4925-b50b-e9416d64232b-i0b0,76e18601d489717434dd0f2303add14e0d9054018d9c12...,38,1982-10-23,F,1,BRANCA,240800.0,10.0,MOSSORO,...,9.0,Trabalhadores de Saúde,215VCD153W,ASTRAZENECA/FIOCRUZ,NaN,2021-07-08,1ª Dose,85,COVID-19 ASTRAZENECA/FIOCRUZ - COVISHIELD,RN + Vacina
3,4fb17147-730b-4882-8e63-3ee17b0f4b04-i0b0,1d0213f30140560c60b79acdfcf8cffcad691b8e5ae169...,57,1964-03-31,F,3,PARDA,240180.0,10.0,BREJINHO,...,9.0,Trabalhadores de Saúde,215VCD128W,ASTRAZENECA/FIOCRUZ,NaN,2021-06-12,1ª Dose,85,COVID-19 ASTRAZENECA/FIOCRUZ - COVISHIELD,RN + Vacina
4,5fc526da-09c4-48cd-8e19-a1e2bbfd4f96-i0b0,15ede625bfaa79c74dec52f80e6b15d8674f4bacc2a04f...,50,1973-03-23,F,99,SEM INFORMACAO,240810.0,10.0,NATAL,...,9.0,Trabalhadores de Saúde,GJ9239,PFIZER,NaN,2023-06-10,Reforço,103,COVID-19 PFIZER - COMIRNATY BIVALENTE,RN + Vacina

In [96]:
df.shape[0]

2018172

In [102]:
# 2) 
df['paciente_id'].nunique()

1537628

In [107]:
# 3) 
primeira_dose = df['vacina_descricao_dose'].unique()[0]
df['paciente_id'].loc[df['vacina_descricao_dose'] == primeira_dose].nunique()

543401

In [109]:
# 4) 
df_menor = df[df["paciente_idade"]<18]
df_menor['paciente_id'].nunique()

242404

In [111]:
# 5)
df['estabelecimento_razaosocial'].nunique()

KeyError: 'estabelecimento_razaosocial'

## 4) Vacinação II
Gere um *DataFrame* que contenha somente os estabelecimentos que aplicaram vcinas a menores de 18 anos. Nesse *DataFrame* devem conter somente os dados dos estabelecimentos, mais uma coluna sendo a quantidade de vacinas que o estabelecimento aplicou a menores de 18 anos.  
  
1. crie uma cópia do *DataFrame* original, contendo somente os registros de vacinas realizadas a menores de 18 anos.  
2. crie uma lista das colunas desse *DataFrame* com o atributo de *DataFrame* **.columns()**  
3. Nesse *DataFrame* faça uma contagem do campo ```vacina_categoria_nome```.
3. a partir da lista de colunas, escolha somente aquelas que são referentes ao estabelecimento, faça uma lista com esses valores.  
4. usando o método *.loc*, selecione somente essas variáveis  
5. Aplique o método **.drop_duplicates** e crie uma lista com uma linha para cada estabelecimento, com os dados do estabelecimento

In [113]:
# 1) 
df_menor = df[df["paciente_idade"]<18].copy()

In [115]:
# 2) 
df_menor.columns

Index(['document_id', 'paciente_id', 'paciente_idade',
       'paciente_dataNascimento', 'paciente_enumSexoBiologico',
       'paciente_racaCor_codigo', 'paciente_racaCor_valor',
       'paciente_endereco_coIbgeMunicipio', 'paciente_endereco_coPais',
       'paciente_endereco_nmMunicipio', 'paciente_endereco_nmPais',
       'paciente_endereco_uf', 'paciente_endereco_cep',
       'paciente_nacionalidade_enumNacionalidade', 'estabelecimento_valor',
       'estabelecimento_razaoSocial', 'estalecimento_noFantasia',
       'estabelecimento_municipio_codigo', 'estabelecimento_municipio_nome',
       'estabelecimento_uf', 'vacina_grupoAtendimento_codigo',
       'vacina_grupoAtendimento_nome', 'vacina_categoria_codigo',
       'vacina_categoria_nome', 'vacina_lote', 'vacina_fabricante_nome',
       'vacina_fabricante_referencia', 'vacina_dataAplicacao',
       'vacina_descricao_dose', 'vacina_codigo', 'vacina_nome',
       'sistema_origem'],
      dtype='object')

In [117]:
# 3)
df_menor['vacina_categoria_nome'].value_counts()

vacina_categoria_nome
Faixa Etária                                      129135
Trabalhadores de Saúde                             81281
Comorbidades                                        3232
Pessoas com Deficiência                             1184
Gestantes                                            754
Outros                                               578
Povos e Comunidades Tradicionais                     367
Povos Indígenas                                      316
Trabalhadores da Educação                            281
População Privada de Liberdade                       136
Puérperas                                             81
Trabalhadores de Limpeza Urbana                        9
Trabalhadores de Transporte                            7
Pessoas de 60 anos ou mais institucionalizadas         6
Pessoas Institucionalizadas                            5
Forças de Segurança e Salvamento                       4
Trabalhadores Industriais                              4
Trabalhadores Portuários                               3
Pessoas em Situação de Rua                             2
Name: count, dtype: int64

In [123]:
# 4)
lista_variaveis = ['estabelecimento_valor',
       'estabelecimento_municipio_codigo', 'estabelecimento_municipio_nome',
       'estabelecimento_uf']
df_menor_lista = df_menor.loc[:,lista_variaveis]

In [125]:
# 5)
df_menor_lista = df_menor_lista.drop_duplicates()
df_menor_lista.shape

(940, 4)